.auth-wrap {
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: 
    url('../../../assets/images/bg-auth-2.png') bottom 20px left 20px no-repeat,
    url('../../../assets/images/bg-auth-1.png') top 20px right 20px no-repeat;
    background-size: 25%;
}
