.password {
    max-width: 800px;
    padding: 20px;
    width: 100%;
    margin: auto;
}

.input-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &:last-of-type {
        margin-bottom: 20px;
    }
}

.title {
    margin: auto;
    text-align: center;
}

.v-btn {
    display: block;
    margin-left: auto;
}
