<v-card class="password">
    <div class="title">Змініть свій пароль</div>
    <ValidationObserver ref="observer" v-slot="{ validate, reset }">
        <VTextFieldWithValidation 
            color="primary"
            prepend-icon="mdi-lock"
            v-model="password"
            rules="required"
            label="Пароль"
            type="password"
        ></VTextFieldWithValidation>
        <VTextFieldWithValidation 
            color="primary"
            prepend-icon="mdi-lock"
            v-model="newPassword"
            vid="newPassword"
            rules="required"
            label="Новий пароль"
            type="password"
        ></VTextFieldWithValidation>
        <VTextFieldWithValidation
            color="primary"
            prepend-icon="mdi-lock"
            v-model="confirmPassword"
            rules="required|confirmed:newPassword"
            label="Новий пароль"
            type="password"
        ></VTextFieldWithValidation>
        <v-btn color="primary" @click="submit()">Змінити</v-btn>
    </ValidationObserver>
</v-card>
