<v-dialog v-model="editorDialog" max-width="900px">
    <v-card class="group-editor">
        <ValidationObserver ref="observer" v-slot="{ validate, reset }">
            <div class="row">
                <div class="col" col="6">
                    <VTextFieldWithValidation 
                        color="primary"
                        v-model="group.name"
                        rules="required"
                        label="Назва групи"
                    ></VTextFieldWithValidation>
                </div>
                <div class="col" col="6">
                    <VTextFieldWithValidation 
                        color="primary"
                        v-model="group.numberOfSemesters"
                        rules="required"
                        label="Кількість семестрів"
                    ></VTextFieldWithValidation>
                </div>
            </div>
            <div class="row">
                <div class="col" col="12">
                    <VSelectWithValidation
                        :items="cathedrasList"
                        item-text="name"
                        item-value="id"
                        rules="required"
                        v-model="group.cathedraId"
                        label="Кафедра"
                    ></VSelectWithValidation>
                </div>
            </div>
        </ValidationObserver>
        <div class="buttons">
            <v-btn @click="closeDialog()" dark>Відмінити</v-btn>
            <v-btn @click="save()" color="primary">{{buttonText}}</v-btn>
        </div>
    </v-card>
</v-dialog>
